@model List<Bootcamp>;


<!DOCTYPE html>
<html>

<head>
    <title>Bootcamp</title>
</head>

<body>
    <h2>Bootcamp</h2>

    @await Html.PartialAsync("_Slider")

    @foreach (var bootcamp in Model)
    {
        @if (@bootcamp.isActive && @bootcamp.isActive)
        {
            <div class="card" style="width: 18rem;">
                <img src="~/img/@bootcamp.ImageUrl" class="card-img-top" alt="BootcampImage">
                <div class="card-body">
                    <h5 class="card-title"> @bootcamp.Title</h5>
                    <p class="card-text">@bootcamp.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@bootcamp.Instructor</li>
                    <li class="list-group-item">@bootcamp.Id</li>
                </ul>
                <div class="car-body">
                    <a asp-controller="Bootcamp" asp-action="Details" asp-route-id="@bootcamp.Id" class="btn-btn-primary">
                    </a>
                </div>
            </div>
        }       }
</body>

</html>
